In [6]:
# program for the sum of the series  -- 1+1/2+......1/n

n = int(input("Enter the number: "))
s = 0.0
for i in range (1,n+1):
    a=1.0/i
    s=s+a
print("the sum of 1+1/2+.....1/"+str(n)+"is"+str(s))
#print(s)

Enter the number: 5
the sum of 1+1/2+.....1/5is2.283333333333333

In [5]:
# program for the sum of series -- 1/1+2**2/2+3**3/3+.....+n**n/n

n = int(input("Enter the number: "))
s = 0
for i in range (1,n+1):
    a=(i**i)/i
    s=s+a
print(s)

Enter the number: 5
701.0

In [7]:
#accessing a tuple

msg = ('Handle', 'exception','like', 'a', 'boss')
print(msg[1],msg[3])

exception a

In [8]:
print(msg[1:3])

('exception', 'like')

In [9]:
print(msg[3:])

('a', 'boss')

In [10]:
t=('python','25','58.44','a')
print(t)

('python', '25', '58.44', 'a')

In [11]:
t

('python', '25', '58.44', 'a')

In [14]:
# implementing for loop
records = (('sanjay',25,34555.50),('sailesh',25,34555.50),('subhash',25,34555.50))
for n,a,s in records:
    print(n,a,s)

sanjay 25 34555.5
sailesh 25 34555.5
subhash 25 34555.5

In [18]:
msg = ('fall','ln','line')
msg[0]='FALL'
print(msg)

TypeError: 'tuple' object does not support item assignment

In [17]:
msg = ['fall','ln','line']
msg[0]='FALL'
print(msg)

['FALL', 'ln', 'line']

In [21]:
#concatenation
t = (12,15,13,23,22,16,17)
t = t+(3.3,4.4,5.5)
print (t)

(12, 15, 13, 23, 22, 16, 17, 3.3, 4.4, 5.5)

In [22]:
t = (12,15,13,23,22,16,17)
t = t+(3,4,5)
print (t)

(12, 15, 13, 23, 22, 16, 17, 3, 4, 5)

In [23]:
12 in t

True

In [24]:
88 in t

False

In [25]:
len(t)

10

In [26]:
tuple('india')

('i', 'n', 'd', 'i', 'a')

In [27]:
max(t)

23

In [28]:
min(t)

3

In [29]:
sorted(t)

[3, 4, 5, 12, 13, 15, 16, 17, 22, 23]

In [30]:
sum(t)

130

In [34]:
t.index(23)

3

In [35]:
t.count(15)

1

In [36]:
(10,20,30)<(10,30,20)

True

In [37]:
(10,20)<(10,20,-10)

True

In [38]:
(32,42,52)==(32.0,42.0,52.0)

True

In [39]:
a=(1,3,5,7,9)
b=(2,4,6,8,10)
c=(a,b)
print(c[0][0],c[1][2])

1 6

In [40]:
x=(1,2,3,4)
y=(10,20,x,30)
print(y)

(10, 20, (1, 2, 3, 4), 30)

In [41]:
x=(1,2,3,4)
y=(10,20,*x,30)
print(y)

(10, 20, 1, 2, 3, 4, 30)

In [42]:
# zip() function
tup=(1,2,3,4,5)
list1=['a','b','c','d','e']
print(list((zip(tup,list1))))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [43]:
#enumerate()
for index, element in enumerate('ABCDEFG'):
    print(index,element)

0 A
1 B
2 C
3 D
4 E
5 F
6 G

In [ ]:
# write a program that returns area and circumference of a circle, whose radius is passed as an argument
#hint : use any def function

In [ ]:
#program that has a list of numbers (both +ve and -ve). make a new tuple that has only +ve values from the list

In [ ]:
# SETS

In [1]:
s = {12,13,15,23,22,16,17}

In [2]:
12 in s

True

In [3]:
22 not in s

False

In [4]:
len(s)

7

In [5]:
max(s)

23

In [6]:
min(s)

12

In [7]:
sorted(s)

[12, 13, 15, 16, 17, 22, 23]

In [8]:
sum(s)

118

In [9]:
x={1,2,3,4}
print(*x)

1 2 3 4

In [23]:
s = {12,15,13,23,22,16,17}
t={'A','B','C'}
s.update(t)
print(s)
s.add('Hello')
print(s)
s.remove(15)
print(s)

s.discard(12)
print(s)

s.discard(101)
print(s)

#s.remove(101)
print(s)

s.clear()
print(s)

{'A', 12, 13, 15, 16, 17, 'B', 22, 23, 'C'}
{'A', 12, 13, 15, 16, 17, 'B', 22, 23, 'C', 'Hello'}
{'A', 12, 13, 16, 17, 'B', 22, 23, 'C', 'Hello'}
{'A', 13, 16, 17, 'B', 22, 23, 'C', 'Hello'}
{'A', 13, 16, 17, 'B', 22, 23, 'C', 'Hello'}
{'A', 13, 16, 17, 'B', 22, 23, 'C', 'Hello'}
set()

In [27]:
# mathematical operations on sets

engineers={'vijay', 'sanjay','yrk','ashritha','dinesh'}
managers={'yrk','ashritha'}
#union
print(engineers | managers)
#intersection
print(engineers & managers)
#difference
print(engineers - managers)
#symmetric difference
print(engineers ^ managers)

{'ashritha', 'sanjay', 'dinesh', 'vijay', 'yrk'}
{'ashritha', 'yrk'}
{'dinesh', 'vijay', 'sanjay'}
{'sanjay', 'dinesh', 'vijay'}

In [34]:
a = {1,2,3,4,5}
b = {2,4,5}
print(a>=b)
print(a<=b)
print(a!=b)
print(a&b)

True
False
True
{2, 4, 5}

In [35]:
a = {1,2,3,4,5}
print(a[0])

TypeError: 'set' object is not subscriptable

In [36]:
#program to iterate through a set

s = set("Hello to all Python Programmers")
for i in s:
    print(i,end=' ')

g l o t P r n   m s e a y H h

In [38]:
# program contains a list of countries, create a set of the countries and 
#rint the names of the countries in sorted list

countries = ['india','russia','china','uk','brazil','australia']
create_set = sorted(set(countries))
print(create_set)

['australia', 'brazil', 'china', 'india', 'russia', 'uk']

In [48]:
# program that creates two sets -- squares and cubes in range 1 - 10.
# demonstration of update(), pop(), remove(), add(), clear()

squares = set([x**2 for x in range (1,10)])
cubes = set([x**3 for x in range(1,10)])
print(squares)
print(cubes)
squares.update(cubes)
print(squares)
squares.add(11*11)
print(squares)
print(squares.pop())
squares.discard(1234)
print(squares)
squares.clear()
print(squares)
squares.remove(1234)
print(squares)

{64, 1, 4, 36, 9, 16, 49, 81, 25}
{64, 1, 512, 8, 343, 216, 729, 27, 125}
{64, 1, 512, 4, 36, 8, 9, 16, 49, 81, 729, 343, 216, 25, 27, 125}
{64, 1, 512, 121, 4, 36, 8, 9, 16, 49, 81, 729, 343, 216, 25, 27, 125}
64
{1, 512, 121, 4, 36, 8, 9, 16, 49, 81, 729, 343, 216, 25, 27, 125}
set()

KeyError: 1234

In [ ]:
# dictionaries

In [5]:
# ways to create dictionary
a = {}
print(a)
b = {'A101':'Amol','A102':'Anil','B103':'Ravi'}
print(b)
lst = [12,13,14,15,16]
e = dict.fromkeys(lst,25)
print(e)

{}
{'A101': 'Amol', 'A102': 'Anil', 'B103': 'Ravi'}
{12: 25, 13: 25, 14: 25, 15: 25, 16: 25}

In [6]:
# accessing dictionaries

b = {'A101':'DINESH','A102':'SRIKANTH','B103':'SUDHIR'}
print(b['A102'])
print(b)

SRIKANTH
{'A101': 'DINESH', 'A102': 'SRIKANTH', 'B103': 'SUDHIR'}

In [ ]:
# create a dictionary called students containing names and ages.
# copy the dictionary into stud.
# empty the students dictionary, as stud continues to hold the data

In [ ]:
# create a list of cricketers. use this list to create a dictionary in which the list values 
# become key values of the dictionary. set the values of all keys to 50 in the dictionary created.

In [7]:
# create two lists students and marks. create a dictionary from these two lists using dictionary comprehension.
# use names as keys and marks as values.
students = ['sunil','sachin','rahul']
marks = [54,65,25]
d = {k:v for (k,v) in zip(students,marks)}
print (d)

{'sunil': 54, 'sachin': 65, 'rahul': 25}

In [ ]:
# program to sort a dictionary in ascending / descending order by key and ascending / descending order by value

import operator